<section id="sobre-mi">

    <div class="contenedor-texto">
        <h2>Sobre mi</h2>
    </div>
      
    <div class="sobre-mi container-sm d-flex mb-5">
      <div class="contenedor-acerca-de">
        <!--Edicion-->
        <div class="d-flex flex-row-reverse">
          <button type="button" class="boton-eliminar-acerca-de btn btn-danger">X</button>
          <button type="button" class="boton-editar-acerca-de btn btn-primary" (click)="editar_persona(persona)" routerLink="/editar_persona"><i class="fa-solid fa-pen fa-sm" style="color: #ffffff;"></i></button>
          </div>

          <!--{{persona.nombre}} {{persona.apellido}}-->
        <img src="../assets/unknown_person.jpg" alt="imagen de perfil" width="180px" height="180px" class="rounded-circle" id="imagen-perfil">
        <div class="text-center"><h4>nombre usuario</h4></div>
        <div class="text-center"><h5>titulo</h5></div>
        </div>
        <div class="sobre-mi-texto">
          <div class="d-flex flex-row-reverse">
            <!--routerLink="/editar-acerca-de"-->
              <button type="button" class="boton-editar-acerca-de btn btn-primary" routerLink="/editar_persona"><i class="fa-solid fa-pen fa-sm" style="color: #ffffff;"></i></button>
            </div>   
          <p>ipsum dolor sit, amet consectetur adipisicing elit. Quis minima explicabo eius odio voluptatum voluptas eaque in rerum a fuga? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium sint sunt omnis! Nobis dignissimos, explicabo nam nesciunt cupiditate earum eos commodi incidunt, reprehenderit, optio vel beatae! Earum nesciunt reiciendis assumenda aliquid accusantium sed impedit.</p>
        </div> 
    </div>

</section>