<div class="container"></div>

<h1 class="m-5">Modificar información acerca de mi</h1>

<form class="m-5">
    <div class="form-group m-3">
      <label for="nombrePersona">Nombre</label>
      <input type="text" class="form-control" id="nombrePersona" name="nombre" placeholder="Nombre" [(ngModel)]="persona.nombre" required="">
    </div>
    <div class="form-group m-3">
      <label for="apellidoPersona">Apellido</label>
      <input type="text" class="form-control" id="apellidoPersona" name="apellido" placeholder="Apellido" [(ngModel)]="persona.apellido" required="">
    </div>
    <div class="form-group m-3">
        <label for="tituloPersona">Titulo</label>
        <input type="text" class="form-control" id="tituloPersona" name="titulo" placeholder="Titulo" [(ngModel)]="persona.titulo" required="">
    </div>
    <div class="form-group m-3">
        <label for="descriPersona">Descripción</label>
        <input type="text" class="form-control" id="descriPersona" name="descripcion" placeholder="Descripcion" [(ngModel)]="persona.descripcion" required="">
      </div>
      <div class="form-group m-3">
        <label for="imagenPersona">Imagen</label>
        <input type="file" class="form-control" id="imagenPersona" name="imagen" placeholder="Subir imagen" [(ngModel)]="persona.img" required="">
      </div>
  
      <button type="submit" value="Enviar" class="btn btn-dark m-3" (click)="persona_modificada(persona)">Enviar</button>
  </form>

