 <!--hard skills-->
  
 <section id="hard-skills">
  

  <div class="text-center pt-5">
    <h2>Hard Skills</h2>
  </div>

  <div class="contenedor-hard-skills m-5">
    
    <div class="row"> 

      <div class="col-sm-4 col-md-3 col-lg-2">
        
        <div class="d-flex flex-row-reverse">
          <button type="button" class="boton-eliminar-hard-skills btn btn-danger">X</button>
          <button type="button" class="boton-editar-hard-skills btn btn-primary"><i class="fa-solid fa-pen fa-sm" style="color: #ffffff;"></i></button>
        </div> 

        <circle-progress
          [percent]="85"
          [radius]="100"
          [outerStrokeWidth]="10"
          [innerStrokeWidth]="4"
          [outerStrokeColor]="'#C2185B'"
          [innerStrokeColor]="'#DFA5BC'"
          [animation]="true"
          [animationDuration]="300"
          [title]="'HTML'"
          [titleColor]="'MediumVioletRed'"
          [showUnits]="false"
          [titleFontSize]="'2em'"
          [showSubtitle]="false"
          [responsive]="true"
          ></circle-progress>
      </div>

      <div class="col-sm-4 col-md-3 col-lg-2">

        <div class="d-flex flex-row-reverse">
          <button type="button" class="boton-eliminar-hard-skills btn btn-danger">X</button>
          <button type="button" class="boton-editar-hard-skills btn btn-primary"><i class="fa-solid fa-pen fa-sm" style="color: #ffffff;"></i></button>
        </div> 

        <circle-progress
          [percent]="70"
          [radius]="100"
          [outerStrokeWidth]="10"
          [innerStrokeWidth]="4"
          [outerStrokeColor]="'#0097A7'"
          [innerStrokeColor]="'#ABE1E7'"
          [animation]="true"
          [animationDuration]="300"
          [title]="'CSS'"
          [titleColor]="'Darkcyan'"
          [showUnits]="false"
          [titleFontSize]="'2em'"
          [showSubtitle]="false"
          [responsive]="true"
          ></circle-progress>
      </div>

      <div class="col-sm-4 col-md-3 col-lg-2">

        <div class="d-flex flex-row-reverse">
          <button type="button" class="boton-eliminar-hard-skills btn btn-danger">X</button>
          <button type="button" class="boton-editar-hard-skills btn btn-primary"><i class="fa-solid fa-pen fa-sm" style="color: #ffffff;"></i></button>
        </div> 

        <circle-progress
          [percent]="80"
          [radius]="100"
          [outerStrokeWidth]="10"
          [innerStrokeWidth]="4"
          [outerStrokeColor]="'#d32f2f'"
          [innerStrokeColor]="'#D28787'"
          [animation]="true"
          [animationDuration]="300"
          [title]="'Bootstrap'"
          [titleColor]="'FireBrick'"
          [showUnits]="false"
          [titleFontSize]="'2em'"
          [showSubtitle]="false"
          [responsive]="true"
          ></circle-progress>
      </div>

      <div class="col-sm-4 col-md-3 col-lg-2">

        <div class="d-flex flex-row-reverse">
          <button type="button" class="boton-eliminar-hard-skills btn btn-danger">X</button>
          <button type="button" class="boton-editar-hard-skills btn btn-primary"><i class="fa-solid fa-pen fa-sm" style="color: #ffffff;"></i></button>
        </div> 

        <circle-progress
          [percent]="85"
          [radius]="100"
          [outerStrokeWidth]="10"
          [innerStrokeWidth]="4"
          [outerStrokeColor]="'#3F51B5'"
          [innerStrokeColor]="'#7687E2'"
          [animation]="true"
          [animationDuration]="300"
          [title]="'JIRA'"
          [titleColor]="'MidnightBlue'"
          [showUnits]="false"
          [titleFontSize]="'2em'"
          [showSubtitle]="false"
          [responsive]="true"
          ></circle-progress>
      </div>

      <div class="col-sm-4 col-md-3 col-lg-2">

        <div class="d-flex flex-row-reverse">
          <button type="button" class="boton-eliminar-hard-skills btn btn-danger">X</button>
          <button type="button" class="boton-editar-hard-skills btn btn-primary"><i class="fa-solid fa-pen fa-sm" style="color: #ffffff;"></i></button>
        </div> 

        <circle-progress
          [percent]="40"
          [radius]="100"
          [outerStrokeWidth]="10"
          [innerStrokeWidth]="4"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="300"
          [title]="'C#'"
          [titleColor]="'green'"
          [showUnits]="false"
          [titleFontSize]="'2em'"
          [showSubtitle]="false"
          [responsive]="true"
          ></circle-progress>
      </div>

      <div class="col-sm-4 col-md-3 col-lg-2">

        <div class="d-flex flex-row-reverse">
          <button type="button" class="boton-eliminar-hard-skills btn btn-danger">X</button>
          <button type="button" class="boton-editar-hard-skills btn btn-primary"><i class="fa-solid fa-pen fa-sm" style="color: #ffffff;"></i></button>
        </div> 

        <circle-progress
          [percent]="60"
          [radius]="100"
          [outerStrokeWidth]="10"
          [innerStrokeWidth]="4"
          [outerStrokeColor]="'#0288D1'"
          [innerStrokeColor]="'#82C3E7'"
          [animation]="true"
          [animationDuration]="300"
          [title]="'JAVA'"
          [titleColor]="'SteelBlue'"
          [showUnits]="false"
          [titleFontSize]="'2em'"
          [showSubtitle]="false"
          [responsive]="true"
          ></circle-progress>
      </div>

      <div class="col-sm-4 col-md-3 col-lg-2">

        <div class="d-flex flex-row-reverse">
          <button type="button" class="boton-eliminar-hard-skills btn btn-danger">X</button>
          <button type="button" class="boton-editar-hard-skills btn btn-primary"><i class="fa-solid fa-pen fa-sm" style="color: #ffffff;"></i></button>
        </div> 

        <circle-progress
          [percent]="70"
          [radius]="100"
          [outerStrokeWidth]="10"
          [innerStrokeWidth]="4"
          [outerStrokeColor]="'#7B1FA2'"
          [innerStrokeColor]="'#C081DB'"
          [animation]="true"
          [animationDuration]="300"
          [title]="'JS'"
          [titleColor]="'DarkMagenta'"
          [showUnits]="false"
          [titleFontSize]="'2em'"
          [showSubtitle]="false"
          [responsive]="true"
          ></circle-progress>
      </div>

      <div class="col-sm-4 col-md-3 col-lg-2">

        <div class="d-flex flex-row-reverse">
          <button type="button" class="boton-eliminar-hard-skills btn btn-danger">X</button>
          <button type="button" class="boton-editar-hard-skills btn btn-primary"><i class="fa-solid fa-pen fa-sm" style="color: #ffffff;"></i></button>
        </div> 

        <circle-progress
          [percent]="90"
          [radius]="100"
          [outerStrokeWidth]="10"
          [innerStrokeWidth]="4"
          [outerStrokeColor]="'#F57C00'"
          [innerStrokeColor]="'#FBBA78'"
          [animation]="true"
          [animationDuration]="300"
          [title]="'Postman'"
          [titleColor]="'Chocolate'"
          [showUnits]="false"
          [titleFontSize]="'2em'"
          [showSubtitle]="false"
          [responsive]="true"
          ></circle-progress>
      </div>

    </div>

    <button type="button" class="d-block mx-auto btn btn-secondary">Añadir</button>  

  </div>
</section>
