#imagen-sesion{
    border-radius: 75%;  
}

#background {
    clear: both;
    width: 100%;
    height: 795px;
    /*background: url(../src/assets/img 3.jpg) fixed no-repeat;*/
    background-size: cover;
    background-position: center top;
}


h1{
    color: white; 
    background-color:rgba(0, 0, 0, 0.5);
}

.sobre-mi {
    display: flex;
    margin-bottom: 5%;
}

.contenedor-texto{
    margin-top: 50px;
    display: flex;
    justify-content: center
}

.sobre-mi-texto{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 5%;
    padding-right: 2%;
}

.educacion{
    background-color: black;
}

.card-color-fondo{
    background-color: rgba(0, 0, 0, 0.5);
}


.contenedor-hard-skills{
    margin-top: 50px;
    margin-bottom: 5%;
}

.contenedor-soft-skills{
    background-color: black;
}

.contenedor-carrusel{
    margin-top: 50px;
    margin-bottom: 3%;
}

.contenedor-carrusel-proyectos{
  margin-top: 20px;
}

.carrusel{
    width: 700px;
    margin: auto;
}
